@use "/src/utils/mediaQueries.module.scss" as mQ;
@use "/src/utils/miscFonts.scss" as mF;
@use "/src/utils/desktopHeaderFonts.scss" as dHF;
@use "/src/constants/colors.module" as color;

.cart-item-container {
  display: grid;
  justify-content: center;

  @include mQ.phone {
    gap: 16px;
    grid-template-columns: 1fr;

    .cart-item {
      border: 1px solid color.$elements;
      padding: 12px;

      .first-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;
        padding: 8px;

        .close-icon {
          color: color.$elements;
          align-items: center;
          margin: 24px 16px 32px 0;
          border: 0;
        }

        .phone-container {
          height: 80px;
          width: 80px;

          .image {
            height: 66px;
            width: auto;
            justify-content: center;
          }
        }

        .name {
          margin: 24px 16px 32px 0;
          text-align: center;

          @include mF.body-font;

          color: color.$primary;
          text-decoration: none;
        }
      }

      .second-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 4px;

        .counter {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          width: 96px;

          .minus-button {
            padding: 6px;
            align-self: center;
          }

          .count {
            padding: 6px;
            text-align: center;

            @include mF.body-font;

            color: color.$primary;
          }

          .plus-button {
            padding: 6px;
            align-self: center;
          }
        }

        .price {
          @include dHF.h3-font;

          width: 80px;
          padding-left: 48px;
        }
      }
    }
  }

  @include mQ.tablet {
    .cart-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .count {
        margin-top: 28px;
      }

      .price {
        margin-top: 28px;
      }
    }
  }
}
