@use "/src/constants/colors.module" as color;
@use "/src/utils/miscFonts" as mF;

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 8px;
  margin-top: 24px;
  color: color.$secondary;
  list-style: none;
  cursor: pointer;

  @include mF.body-font;

  li {
    display: flex;
    align-items: center;
    gap: 8px;

    .active {
      color: color.$secondary;
      text-decoration: none;
    }
  }

  .home,
  .arrow-right,
  .arrow-left {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .back-text {
    cursor: pointer;
  }

  .text {
    width: 300px;
  }
}
