@use '/src/utils/miscFonts.scss' as fonts;
@use '/src/constants/colors.module.scss' as color;

.title {
  @include fonts.uppercase-font;

  border-bottom: 1px solid color.$icons;
  padding-bottom: 16px;
  font-size: 22px;
  line-height: 1.4;
}

.about {
  grid-column: 1 / 13;
  width: 100%;
}

.about-item {
  margin-top: 32px;
}

.about-item-title {
  @include fonts.button-font;

  margin-bottom: 16px;
  font-size: 20px;
  line-height: 26px;
}

.about-item-text {
  @include fonts.button-font;

  color: color.$secondary;
}

.tech {
  grid-column: 14 / 25;
}

.tech-list {
  margin-top: 32px;
}

.tech-item {
  @include fonts.button-font;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.tech-title {
  color: color.$secondary;
}
